.aboutContainer {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 40px;
}

.aboutText {
    flex: 1;
}

.aboutCard {
    flex: 1;
}

.education {
    width: 70%;
    max-width: 500px;
    border: 1px solid rgb(178, 160, 160);
    border-radius: 15px;
    padding: 20px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);

}

.educationNav {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.icon {
    font-size: 82px;
    color: #2c3e50;
}

.focus,
.year,
.interest {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.focus p,
.year p,
.interest p {
    margin: 0;
}


@media (max-width: 768px) {
  .aboutContainer {
    flex-direction: column;   
    align-items: center;
  }

  .aboutText {
    width: 100%;
  }

  .aboutCard {
    width: 100%;
  }

  .education {
    width: 100%;  
  }
}